ptd backup/
__pycache__
trivia.png
amazon_codes.txt
service_account.json
trivia_winners.json
trivia_details.json
email_credentials.json
trivia_all_answers.json
token.json
donate.png
website.png
socials.png